<div class="jumbotron">
  <h1>NHD Background Task</h1>
  <p class="lead">
    <img src="images/cloud.png" alt="I'm Yeoman"><br>
    Nothing more to see here!<a href="#">               _</a>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/" ng-click="onClick()"><span class="glyphicon glyphicon-chevron-left"></span>Go back</a></p>
</div>

<div class="row marketing">
  <h4>Solve</h4>
  <p>
    Each team will aim to solve their respective questions. Solve by hook or crook (we mean use Bing or something). 
    Also, by the way, the "story" portions don't contain any clues, so stop looking there and look somewhere else. 
  </p>

  <h4>Focus on other things</h4>
  <p>
    Solving this is not supposed to be your main job. Just slip in some time in between events to solve this!
  </p>
  
 
  <h4>Gain advantage</h4>
  <p>Finish fast, you'll gain an advantage by the end ;)</p>
</div>
